PORT=3000
NEXT_PUBLIC_VERCEL_ENV="development"

NEXT_PUBLIC_SITE_NAME="Blackhorse Collective"
NEXT_PUBLIC_SITE_URL="blackhorsecollective.co.uk"

NEXT_PUBLIC_CMS_URL="http://localhost:1337"

# BASE API URL
SITE_CMS_API_URL="http://localhost:1337/api/"

# GOOGLE ANALYTICS
NEXT_PUBLIC_GOOGLE_ANALYTICS="G-B7026J2YQK"

# GOOGLE MAPS
NEXT_PUBLIC_GOOGLE_MAPS_API="0000000000"

# MAILCHIMP
MAILCHIMP_API_URL="https://us17.api.mailchimp.com/3.0/"
MAILCHIMP_TOKEN="0000000000"
MAILCHIMP_LIST_ID="0000000000"

