@import "@/styles/global/variables";

.component {
  .container {
    position: relative;
    padding: 0 1rem;

    @media (width >= $screen-medium) {
      padding: 0;
    }
    img {
      height: auto;
      width: 100%;
    }
  }
}
