@import "@/styles/global/variables";

.component {
  width: 100%;
  position: relative;

  input {
    height: 4.2rem;
    width: 100%;
    background-color: var(--white);
    color: var(--black);
    outline: none;
    border: none;
    border-radius: 3rem;
    padding: 1rem 5rem 1rem 2rem;
    font-family: var(--autoscape);
    font-size: 1.2rem;

    &::placeholder {
      opacity: 0.4;
      text-transform: uppercase;
    }
  }
  &_button {
    width: auto;
    position: absolute;
    top: 1.15rem;
    right: 2rem;
    text-indent: -99999px;
  }
}
.icon {
  height: 1.8rem;
  width: 1.8rem;
  position: absolute;
  top: 0;
  right: 0;
}
