@import "@/styles/global/variables";

.component {
  font-family: var(--neue-montreal-book);
  font-size: 1.4rem;

  @media (width >= $screen-medium-small) {
    max-width: 44.5rem;
    font-size: 2rem;
    margin-bottom: 8rem;
  }

  .item {
    width: 100%;
    display: flex;
    justify-content: flex-end;
    line-height: 1.5;

    > div {
      overflow: hidden;
      white-space: nowrap;
      text-overflow: clip;
      min-width: 0;

      &:nth-child(1),
      &:nth-child(3) {
        flex: 1 0 auto;
      }
      &:nth-child(2) {
        flex: 0 1 auto;
      }
    }
  }
}
