:root {
  --beige: #dcdbd1;
  --black: #1a1a1a;
  --blue: #00a3ff;
  --blue-light: #cbecff;
  --green: #bed2c4;
  --green-dark: #536758;
  --grey: #a3a3a3;
  --grey-light: #e9e9e9;
  --grey-dark: #90908f;
  --olive: #cbcabe;
  --white: #fff;
  --yellow: #ffff5f;
  --yellow-light: #fdfdc1;
  --pink: #986ac5;
  --orange: rgb(250, 227, 191);
  --card-bg--blue: #00a3ff;
  --card-bg--yellow: #ffff5f;
}
